*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-weight: 400;
  text-align: center;
}

.container {
  height: 100vh;
  margin: 0 auto;
  max-width: 62em;
  min-width: none;

  // TRICKY: ensure all child nodes' margins stay inside container
  padding: 1px;
}
